@import "tailwindcss";

@theme {
  --color-accent: #fcf7f2;
  --color-accent-dark: #131411;

  --color-primary-light: #fddd58;
  --color-primary-dark: #c9f31f;

  --color-secondary-light: #00a2d1;
  --color-secondary-dark: #11d1ff;

  --color-border-light: #f0e6db;
  --color-border-dark: #262525;

  --color-bg-light: #ffffff;
  --color-bg-dark: #1a1a1a;

  --color-text-light: #000000;
  --color-text-dark: #ffffff;

  --breakpoint-1150: 1150px;

  --max-width-container: 1350px;
}

@theme inline {
  --font-lato: var(--font-lato);
  --font-kanit: var(--font-kanit);
  --font-kanit: var(--font-kanit);
}

@utility font-caveat {
  font-family: var(--font-caveat), cursive;
}

body {
  font-family:
    var(--font-lato),
    system-ui,
    -apple-system,
    sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-gradient: var(--color-primary-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-gradient: var(--color-primary-dark);
  }
}

.cls-1 {
  fill: #e8e8e8;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5 {
  stroke-width: 0px;
}

.cls-2 {
  fill: #f5f5f5;
}

.cls-3 {
  fill: #00d4ff;
}

.cls-4 {
  fill: #fff;
}

.cls-5 {
  fill: #c9f31f;
}

.cls-6 {
  fill: #10a8e0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

.sqysh-gradient {
  background: linear-gradient(
    90deg,
    #fddd58,
    /* primary-light */ #c9f31f,
    /* primary-dark */ #00a2d1,
    /* secondary-light */ #11d1ff,
    /* secondary-dark */ #fddd58 /* primary-light */
  );
  background-size: 300% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 4s linear infinite;
}

.group:hover .sqysh-gradient {
  animation-duration: 1.5s;
}
